* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box
}

#container {
    width: 100%
}

header {
    width: 100%;
    height: 7em;
    border: 1px solid #000;
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .2)), url(../images/greentree.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    z-index: 1;
    top: 0
}

header h1 {
    font-size: 2em;
    font-family: Hobo Std;
    margin: 10% 0 0 7%;
    color: #fff;
    text-shadow: 2px 2px 3px #262626
}

header nav ul {
    margin: 2% 0 0 2%
}

header nav ul li {
    color: #fff;
    display: inline-block;
    margin: 0 0 0 1%
}

header nav ul li a {
    color: #fff;
    text-decoration: none
}

header nav ul li a:hover {
    color: #224269
}

#background {
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .2)), url(../images/greentree.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 112px 0 0 0
}

#background h2 {
    color: #fff;
    font-size: 2em;
    font-family: Hobo Std;
    margin: 10% 0 0 0;
    text-align: center;
    text-shadow: 2px 2px 3px #262626
}

#background p {
    color: #fff;
    font-size: 1em;
    font-family: Corbel;
    margin: 0;
    text-align: center
}

#background form input {
    padding: 10px 15px 10px 15px;
    border-radius: 40px;
    margin: 30% 0 10% 17%;
    color: #fff;
    font-size: 1em;
    font-family: Corbel;
    background-color: #2f86f2;
    border: 1px solid #2f86f2;
    letter-spacing: 3px
}

#whitebox {
    width: 100%;
    padding: 10px;
    border: 1px solid #fff
}

#whitebox h2 {
    color: #2f86f2;
    font-size: 1em;
    font-family: Corbel;
    margin: 20% 0 0 0;
    text-align: center
}

#whitebox h3 {
    font-size: 2em;
    font-family: Corbel;
    margin: 0;
    text-align: center
}

#whitebox .circle {
    width: 15em;
    height: 6em;
    display: inline-block;
    margin: 10% 0 5% 10%;
    position: relative
}

.circle h1 {
    color: #2f86f2;
    font-size: 2em;
    position: relative;
    left: 30%;
    margin: 0 0 0 10%
}

.circle p {
    margin: 0 0 0 5%;
    color: #2d2e30;
    font-size: 2em;
    font-family: Corbel
}

#greybox {
    width: 100%;
    padding: 10px;
    border: 1px solid #c2c8c2;
    background-color: #c2c8c2
}

#greybox h3 {
    color: #2f86f2;
    font-size: 1em;
    font-family: Corbel;
    margin: 10% 0 0 0;
    text-align: center
}

#greybox h2 {
    font-size: 2em;
    font-family: Corbel;
    text-align: center
}

#greybox p {
    color: #3d423d;
    font-size: 1em;
    font-family: Corbel;
    margin: 5% 0 0 0;
    text-align: center
}

#greybox section {
    width: 18.6em;
    height: 15em;
    margin: 30% 0 -15% 0;
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .9)), url(../images/photo44.png);
    background-size: 100% 100%
}

#greybox section input[type=submit] {
    display: none;
    padding: 5px 15px 5px 15px;
    border-radius: 40px;
    margin: 0 0 0 38%;
    color: #fff;
    font-size: 1em;
    font-family: Corbel;
    background-color: #2f86f2;
    border: 1px solid #2f86f2;
    letter-spacing: 3px
}

#greybox section:hover input[type=submit] {
    transition: 1s;
    display: inline-block;
    transform: translate(0, 0);
    animation: button 2s 1;
    animation-fill-mode: forwards
}

@keyframes button {
    0% {
        transform: translate(0, 0);
        opacity: 0
    }
    100% {
        transform: translate(0, 60px)
    }
}

#greybox div {
    width: 15em;
    height: 10em;
    padding: 10px;
    display: inline-block;
    margin: -35% 0 10% 10%;
    background-color: #fff;
    border: 1px solid #fff
}

#greybox div h2 {
    color: #000;
    font-size: 2em;
    margin: 10% 0 0 0;
    text-align: center
}

#greybox div p {
    width: 14em;
    color: #3d423d;
    font-size: 1em;
    font-family: Corbel;
    margin: 0;
    text-align: center
}

#gallery {
    width: 100%;
    padding: 10px;
    border: 1px solid #fff
}

#gallery h2 {
    font-size: 1em;
    font-family: Corbel;
    text-align: center;
    letter-spacing: 3px;
    margin: 20% 0 0 0
}

#gallery h3 {
    font-size: 2em;
    font-family: Corbel;
    margin: 0;
    text-align: center
}

#gallery nav ul {
    margin: 10% 0 0 0
}

#gallery nav ul li {
    font-size: 1em;
    font-family: Corbel;
    list-style-type: none;
    display: inline-block;
    margin: 0 0 0 5%
}

#gallery nav ul li span {
    color: #2f86f2
}

#gallery #photo div {
    width: 18.6em;
    height: 16em;
    margin: 10% 0 10% 0
}

#gallery #photo div img {
    position: absolute
}

#gallery #photo div .blur {
    width: 16em;
    height: 15em;
    margin: 2% 0 0 6%;
    transition: .9s ease;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 1));
    opacity: 0
}

#gallery #photo div .blur:hover {
    transform: scale(.7);
    opacity: 1
}

#gallery #photo div p {
    display: none;
    font-size: 1.5em;
    position: absolute;
    font-family: Corbel;
    text-align: center;
    margin: 40% 0 0 20%
}

#gallery #photo div:hover p {
    display: inline-block;
    color: #fff
}

#skybox {
    width: 100%;
    padding: 10px;
    background-color: #2f86f2;
    border: 1px solid #2f86f2
}

#skybox h2 {
    font-size: 2em;
    font-family: Corbel;
    text-align: center;
    margin: 10% 0 0 0
}

.slideshow-container {
    position: relative;
    margin: auto
}

.slideshow-container img {
    width: 50%;
    height: 50%;
    border-radius: 100%;
    margin: 20% 0 0 27%
}

p {
    color: #f2f2f2;
    font-size: 1.5em;
    position: absolute;
    text-align: center;
    margin: 10% 0 0 0
}

h3 {
    font-size: 1em;
    margin: 50% 0 0 0;
    text-align: center
}

.dot {
    height: 1em;
    width: 1em;
    margin: 10% 0 10% 2%;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease
}

.active {
    background-color: #717171
}

#blackbox {
    width: 100%;
    padding: 10px;
    background-color: #000;
    border: 1px solid #000
}

#blackbox h2 {
    font-size: 1em;
    color: grey;
    font-family: Corbel;
    text-align: center;
    letter-spacing: 3px;
    margin: 15% 0 0 0
}

#blackbox h3 {
    font-size: 2em;
    color: #fff;
    font-family: Corbel;
    margin: 5% 0 0 0;
    text-align: center
}

#blackbox form input {
    padding: 10px 20px 10px 20px;
    border-radius: 40px;
    margin: 10% 0 20% 25%;
    color: #fff;
    font-size: 1em;
    font-family: Corbel;
    background-color: #000;
    border: 1px solid #fff;
    word-spacing: 3px
}

#blackbox form input:hover {
    background-color: #fff;
    color: #000
}

#contact {
    width: 100%;
    padding: 10px;
    border: 1px solid #fff
}

#contact h2 {
    font-size: 2em;
    font-family: Corbel;
    text-align: center;
    letter-spacing: 3px;
    margin: 10% 0 0 0
}

#contact ul {
    margin: 0 0 0 15%
}

#contact ul li {
    list-style-type: none;
    display: inline-block;
    margin: 5% 0 0 0
}

#contact form input[type=text] {
    width: 18em;
    height: 3em;
    margin: 5% 0 0 10%;
    background-color: #cfd7cf;
    border: 1px solid #cfd7cf
}

#contact form input[type=email] {
    width: 18em;
    height: 3em;
    margin: 5% 0 0 10%;
    background-color: #cfd7cf;
    border: 1px solid #cfd7cf
}

#contact form #subject {
    width: 18em;
    height: 3em;
    margin: 5% 0 0 10%;
    background-color: #cfd7cf;
    border: 1px solid #cfd7cf
}

#contact form textarea {
    width: 18em;
    height: 10em;
    margin: 5% 0 0 10%;
    background-color: #cfd7cf;
    border: 1px solid #cfd7cf
}

#contact form input[type=submit] {
    padding: 10px 20px 10px 20px;
    border-radius: 40px;
    margin: 10% 0 10% 32%;
    color: #fff;
    font-size: 1em;
    font-family: Corbel;
    background-color: #2f86f2;
    border: 1px solid #2f86f2;
    letter-spacing: 3px
}

footer {
    width: 100%;
    border: 1px solid #fff
}

footer nav ul {
    font-size: 1em;
    font-family: corbel;
    margin: 10% 0 0 0
}

footer nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 0 0 5%
}

footer nav ul li:hover {
    color: #2f86f2
}

footer h4 {
    text-align: center;
    font-weight: lighter;
    font-family: corbel;
    margin: 10% 0 0 0
}

footer article p {
    text-align: center;
    color: #000;
    font-size: 1em;
    font-weight: 700;
    margin: 0 0 20% 19%;
    font-family: corbel
}

footer article p span {
    color: #2f86f2
}

footer #top {
    top: 80%;
    left: 75%;
    width: 10%;
    height: 10%;
    position: fixed;
    border-radius: 100%
}

footer #top a img {
    width: 100%
}

@media only screen and (min-width:375px) {
    header h1 {
        margin: 10% 0 0 10%
    }
    header nav ul li {
        margin: 0 0 0 3%
    }
    #background form input {
        margin: 20% 0 15% 22%
    }
    #whitebox .circle {
        margin: 5% 0 0 17%
    }
    #whitebox .circle p {
        margin: 0 0 0 4%
    }
    #greybox section {
        margin: 30% 0 -15% 8%
    }
    #greybox div {
        margin: -35% 0 5% 16%
    }
    #gallery nav ul {
        margin: 10% 0 0 8%
    }
    #gallery #photo div {
        width: 18.6em;
        height: 16em;
        margin: 10% 0 10% 8%
    }
    h3 {
        margin: 40% 0 0 0
    }
    #blackbox form input {
        margin: 10% 0 20% 29%
    }
    #contact ul {
        margin: 0 0 0 18%
    }
    #contact form input[type=text] {
        margin: 10% 0 0 18%
    }
    #contact form input[type=email] {
        margin: 10% 0 0 18%
    }
    #contact form #subject[type=text] {
        margin: 10% 0 0 18%
    }
    #contact form textarea {
        margin: 10% 0 0 18%
    }
    #contact form input[type=submit] {
        margin: 10% 0 10% 35%
    }
    footer nav ul {
        margin: 10% 0 0 6%
    }
    footer article p {
        margin: 0 0 20% 22%
    }
    footer #top {
        margin: 0 0 0 10%
    }
}

@media only screen and (min-width:425px) {
    header h1 {
        margin: 5% 0 0 10%
    }
    header nav ul {
        margin: 3% 0 0 8%
    }
    #background form input {
        margin: 20% 0 15% 26%
    }
    #whitebox .circle {
        margin: 5% 0 0 23%
    }
    #greybox section {
        margin: 30% 0 -10% 13%
    }
    #greybox div {
        margin: -35% 0 5% 20%
    }
    #gallery nav ul {
        margin: 10% 0 0 13%
    }
    #gallery #photo div {
        margin: 10% 0 10% 14%
    }
    #blackbox form input {
        margin: 10% 0 20% 31%
    }
    #contact ul {
        margin: 0 0 0 22%
    }
    #contact form input[type=text] {
        margin: 10% 0 0 20%
    }
    #contact form input[type=email] {
        margin: 5% 0 0 20%
    }
    #contact form #subject[type=text] {
        margin: 5% 0 0 20%
    }
    #contact form textarea {
        margin: 5% 0 0 20%
    }
    #contact form input[type=submit] {
        margin: 5% 0 10% 37%
    }
    footer nav ul {
        margin: 10% 0 0 10%
    }
    footer article p {
        margin: 0 0 20% 25%
    }
}

@media only screen and (min-width:768px) {
    header {
        background-size: 100% 300%
    }
    header h1 {
        margin: 5% 0 0 7%
    }
    header nav ul {
        margin: -3% 0 0 43%
    }
    header nav ul li {
        margin: 0 0 0 5%
    }
    #background h2 {
        margin: 10% 0 0 0
    }
    #background p {
        width: 30em;
        font-size: 1.2em;
        margin: 5% 0 0 12%
    }
    #background form input {
        padding: 15px 25px 15px 25px;
        margin: 20% 0 15% 35%
    }
    #whitebox h2 {
        margin: 10% 0 0 0
    }
    #whitebox .circle {
        display: inline-block;
        margin: 5% 0 0 11%
    }
    #greybox p {
        width: 30em;
        font-size: 1.2em;
        margin: 5% 0 0 11%
    }
    #greybox section {
        margin: 15% 0 -5% 30%
    }
    #greybox div {
        margin: -30% 0 10% 34%
    }
    #gallery h2 {
        margin: 10% 0 0 0
    }
    #gallery nav ul {
        margin: 5% 0 0 20%
    }
    #gallery nav ul li {
        margin: 0 0 0 8%
    }
    #gallery #photo div {
        margin: 5% 0 10% 7%;
        display: inline-block
    }
    #gallery #photo div .blur {
        margin: 1% 0 0 2.8%
    }
    #gallery #photo div p {
        margin: 40% 0 0 20%
    }
    #skybox h2 {
        margin: 5% 0 0 0
    }
    .slideshow-container img {
        width: 20%;
        height: 20%;
        margin: 5% 0 0 40%
    }
    p {
        margin: 5% 0 0 10%
    }
    h3 {
        font-size: 1em;
        margin: 10% 0 0 0;
        text-align: center
    }
    .dot {
        margin: 5% 0 10% 0
    }
    #blackbox form input {
        margin: 5% 0 10% 39%
    }
    #contact ul {
        margin: 0 0 0 10%
    }
    #contact ul li {
        margin: 5% 0 0 10%
    }
    #contact form {
        width: 40%
    }
    #contact form input[type=text] {
        margin: 10% 0 0 9%
    }
    #contact form input[type=email] {
        margin: 5% 0 0 9%
    }
    #contact form textarea {
        margin: 5% 0 0 9%
    }
    #contact form #subject[type=text] {
        margin: 5% 0 0 9%
    }
    #contact form input[type=submit] {
        margin: 5% 0 10% 31%
    }
    footer nav ul {
        margin: 10% 0 0 27%
    }
    footer h4 {
        margin: 5% 0 0 0
    }
    footer article p {
        margin: 0 0 5% 37%
    }
    footer #top {
        width: 50px;
        height: 50px
    }
}

@media only screen and (min-width:1024px) {
    header {
        background-size: 100% 400%
    }
    header nav ul {
        margin: -3% 0 0 53%
    }
    #background p {
        width: 30em;
        font-size: 1.2em;
        margin: 5% 0 0 22%
    }
    #background form input {
        margin: 15% 0 15% 40%
    }
    #whitebox h2 {
        font-size: 1.3em;
        margin: 5% 0 0 0
    }
    #whitebox h3 {
        font-size: 2.2em
    }
    #whitebox .circle {
        margin: 5% 0 5% .6%
    }
    #whitebox div p {
        margin: 0 0 0 1%
    }
    #greybox h3 {
        font-size: 1.1em
    }
    #greybox h2 {
        font-size: 2.2em
    }
    #greybox p {
        margin: 5% 0 0 23%
    }
    #greybox section {
        margin: 20% 0 -4% 4%;
        display: inline-block
    }
    #greybox section input[type=submit] {
        margin: 0 0 0 11%;
        position: absolute
    }
    #greybox div {
        margin: 0 0 10% -27.5%;
        display: inline-block
    }
    #gallery h3 {
        font-size: 2em;
        margin: 0
    }
    #gallery nav ul {
        font-size: 1.5em;
        margin: 5% 0 0 0
    }
    #gallery nav ul li {
        margin: 0 0 0 10%
    }
    #gallery #photo div {
        margin: 5% 0 10% 13%;
        display: inline-block
    }
    #gallery #photo div .blur {
        margin: 1% 0 0 2.5%
    }
    #gallery #photo div p {
        margin: 40% 0 0 22%
    }
    #skybox p {
        font-size: 1.5em;
        margin: 5% 0 0 20%
    }
    #skybox h3 {
        margin: 10% 0 0 0
    }
    #skybox .dot {
        margin: 5% 0 10% 0
    }
    #blackbox h2 {
        margin: 12% 0 0 0
    }
    #blackbox h3 {
        margin: 2% 0 0 0
    }
    #blackbox form input {
        margin: 5% 0 10% 41.3%
    }
    #contact ul {
        margin: 0 0 0 16%
    }
    #contact ul li {
        margin: 5% 0 0 10%
    }
    #contact form {
        width: 30%
    }
    #contact form input[type=text] {
        margin: 10% 0 0 9%
    }
    #contact form input[type=email] {
        margin: 5% 0 0 9%
    }
    #contact form textarea {
        margin: 5% 0 0 9%
    }
    #contact form #subject[type=text] {
        margin: 5% 0 0 9%
    }
    #contact form input[type=submit] {
        margin: 5% 0 10% 31%
    }
    footer nav ul {
        margin: 5% 0 0 30%
    }
    footer h4 {
        margin: 5% 0 0 0
    }
    footer article p {
        margin: 0 0 5% 40%
    }
    footer #top {
        width: 50px;
        height: 50px
    }
}

@media only screen and (min-width:1440px) {
    header {
        background-size: 100% 400%
    }
    header h1 {
        font-size: 3em;
        margin: 3% 0 0 7%
    }
    header nav ul {
        font-size: 1.5em;
        margin: -3.6% 0 0 53%
    }
    #background h2 {
        font-size: 3em
    }
    #background p {
        font-size: 1.5em;
        margin: 5% 0 0 26%
    }
    #background form input {
        margin: 15% 0 15% 43%;
        padding: 25px 50px 25px 50px
    }
    #whitebox h2 {
        font-size: 1.5em;
        margin: 5% 0 0 0
    }
    #whitebox h3 {
        font-size: 3em
    }
    #whitebox .circle {
        margin: 5% 0 5% 7%
    }
    #greybox h3 {
        font-size: 1.5em
    }
    #greybox h2 {
        font-size: 3em
    }
    #greybox p {
        font-size: 1.5em;
        margin: 5% 0 0 25%
    }
    #greybox section {
        margin: 20% 0 -2% 10%;
        display: inline-block
    }
    #greybox section input[type=submit] {
        width: 100px;
        height: 40px;
        margin: 0 0 0 7.4%;
        border-radius: 30px;
        position: absolute
    }
    #greybox div {
        margin: 0 0 10% -19.2%;
        display: inline-block
    }
    #gallery h3 {
        font-size: 3em;
        margin: 0
    }
    #gallery nav ul {
        margin: 5% 0 0 20%
    }
    #gallery nav ul li {
        font-size: 1.5em;
        margin: 0 0 0 10%
    }
    #gallery #photo div {
        margin: 5% 0 5% 9%;
        display: inline-block
    }
    #gallery #photo div .blur {
        margin: 1% 0 0 1.8%
    }
    #gallery #photo div p {
        font-size: 1.5em;
        margin: 40% 0 0 22%
    }
    #skybox h2 {
        margin: 5% 0 0 0;
        font-size: 3em
    }
    #skybox img {
        margin: 5% 0 0 40%
    }
    #skybox p {
        margin: 5% 0 0 22%;
        font-size: 2em
    }
    #skybox h3 {
        margin: 10% 0 0 0;
        font-size: 1.5em
    }
    #skybox .dot {
        width: 1.5em;
        height: 1.5em;
        margin: 2% 0 10% 0
    }
    #blackbox h2 {
        margin: 5% 0 0 0;
        font-size: 2em
    }
    #blackbox h3 {
        font-size: 3em;
        margin: 5% 0 0 0
    }
    #blackbox form input {
        margin: 5% 0 5% 42%;
        font-size: 1.5em
    }
    #contact h2 {
        font-size: 3em
    }
    #contact nav ul {
        margin: 0 0 0 15%
    }
    #contact nav ul li {
        font-size: 1.5em
    }
    #contact form {
        width: 30%
    }
    #contact form input[type=text] {
        width: 25em;
        height: 4em;
        margin: 10% 0 0 0;
        font-size: 1em
    }
    #contact form input[type=email] {
        width: 25em;
        height: 4em;
        font-size: 1em;
        margin: 5% 0 0 0
    }
    #contact form #subject[type=text] {
        width: 25em;
        height: 4em;
        font-size: 1em;
        margin: 5% 0 0 0
    }
    #contact form textarea {
        width: 25em;
        font-size: 1.2em;
        margin: 5% 0 0 0
    }
    #contact form input[type=submit] {
        margin: 5% 0 10% 26%;
        font-size: 1.5em;
        padding: 20px 40px 20px 40px
    }
    footer nav ul {
        margin: 5% 0 0 30%;
        font-size: 1.5em
    }
    footer h4 {
        margin: 5% 0 0 0;
        font-size: 1.5em
    }
    footer article p {
        margin: 0 0 5% 39.5%;
        font-size: 1.5em
    }
    footer #top {
        width: 80px;
        height: 80px
    }
}